<div nz-flex nzVertical nzGap="middle">
    <div class="flex-item">
        <button nz-button nzType="primary">Primary Button</button>
        <button nz-button nzType="default">Default Button</button>
        <button nz-button nzType="dashed">Dashed Button</button>
        <button nz-button nzType="text">Text Button</button>
        <a nz-button nzType="link">Link Button</a>
    </div>
    <div class="flex-item even">
        <button nz-button nzType="default" nzShape="round">
            <span nz-icon nzType="java-script" nzTheme="outline"></span>
            Download
        </button>
    </div>
    <div class="flex-item">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
            sunt a te dicta? Refert tamen, quo modo.
        </p>
        <nz-divider nzPlain nzText="Text"></nz-divider>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
            sunt a te dicta? Refert tamen, quo modo.
        </p>
        <nz-divider nzPlain nzText="Left Text" nzOrientation="left"></nz-divider>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
            sunt a te dicta? Refert tamen, quo modo.
        </p>
        <nz-divider nzPlain nzText="Right Text" nzOrientation="right"></nz-divider>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
            sunt a te dicta? Refert tamen, quo modo.
        </p>
    </div>
    <div class="flex-item even">
        <a nz-dropdown [nzDropdownMenu]="menu">
            Cascading menu
            <span nz-icon nzType="down"></span>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>1st menu item</li>
                <li nz-menu-item>2nd menu item</li>
                <li nz-submenu nzTitle="sub menu">
                    <ul>
                        <li nz-menu-item>3rd menu item</li>
                        <li nz-menu-item>4th menu item</li>
                    </ul>
                </li>
                <li nz-submenu nzDisabled nzTitle="disabled sub menu">
                    <ul>
                        <li nz-menu-item>3rd menu item</li>
                        <li nz-menu-item>4th menu item</li>
                    </ul>
                </li>
            </ul>
        </nz-dropdown-menu>
    </div>
    <div class="flex-item">
        <nz-steps>
            <nz-step nzTitle="Login" nzStatus="finish" nzIcon="user"></nz-step>
            <nz-step nzTitle="Verification" nzStatus="process" nzIcon="solution"></nz-step>
            <nz-step nzTitle="Pay" nzStatus="wait" nzIcon="loading"></nz-step>
            <nz-step nzTitle="Done" nzStatus="wait" [nzIcon]="iconTemplate"></nz-step>
            <ng-template #iconTemplate><span nz-icon nzType="smile"></span></ng-template>
        </nz-steps>
    </div>
</div>