<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Tienda</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="General" nzIcon="team">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/users">Usuarios</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Productos" nzIcon="product">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/products">
            <a>Productos</a>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/productssb">
            <a>Productos Spring Boot</a>
          </li>          
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header" nz-flex [nzVertical]="false" nzJustify="space-between" nzAlign="center">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
        <div *ngIf="isLoggedIn(); else logout" nz-dropdown [nzDropdownMenu]="menu" style="margin-right: 24px;">
          <nz-badge [nzCount]="5" style="margin-right: 10px;">
            <nz-avatar
              nzIcon="user" 
              [nzSrc]="user?.image"
              >
            </nz-avatar>
          </nz-badge>            
          <span nz-icon nzType="down" nzTheme="outline"></span>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>Editar perfil</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="onClickLogout()" style="color: red;">Cerrar Sesión</li>
            </ul>
          </nz-dropdown-menu>          
        </div> 
        <ng-template #logout>
          <nz-avatar nzIcon="user" style="margin-right: 24px;" routerLink="/login"></nz-avatar>
        </ng-template>                     
      </div>     
    </nz-header>  
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Footer</nz-footer>
  </nz-layout>
</nz-layout>
